.movies {
  background-color: #11B980;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 295px;
  height: 195px;
  padding: 3px 4px;
  border-radius: 6px;
  background-color: var(--card_bg);
  border: 1px solid var(--card_border);

  &:hover {
    cursor: pointer;
  }

  &__poster {
    width: 128px;
    height: 100%;
    margin-right: 11px;
    border-radius: 6px 0 0 6px;
    background-color: var(--strip_bg);
    opacity: 10%;
  }

  &__info {
    width: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 13px 0;

    &__title {
      //margin-top: 16px;
    }

    &__exp {
      width: 100%;

      &__date {
        width: 100%;
        display: flex;
        align-items: center;

        & span {
          color: var(--text_date);
          margin-left: 7px;
          font-size: 12px;
        }
      }

      &__genres {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 14px;

        & > div {
          display: flex;
          align-items: center;
        }


        & span {

          color: var(--text_genres);
          font-size: 12px;
        }
      }
    }
  }
}

.circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--text_genres);
  margin: 0 5px
}
